$ns: '.imigize-comfortForm-About-sportmaster';

#{$ns} {
    display: none;
}

#{$ns}-header {
    position: relative;
    padding: 14px 36px;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

#{$ns}-content {
    position: relative;
    padding: 19px 25px 110px 20px;
    min-height: 652px;
    box-sizing: border-box;
}

#{$ns}-header-text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

#{$ns}-title {
    position: relative;
    margin-bottom: 12px;
    padding: 0 0 0 20px;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    text-shadow: 0 0 0 #000;
    text-align: left;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        margin-top: -5px;
        margin-left: 4px;
        width: 10px;
        height: 10px;
        background-color: $sportmasterColor;
        border-radius: 50%;
    }
}

#{$ns}-text {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #000;
    font-weight: 300;
}

#{$ns}-description {
    margin-bottom: 15px;
}

#{$ns}-btn {
    @include sportmasterBtn;

    position: absolute;
    bottom: 44px;
    left: 50%;
    margin-left: -70px;
    padding: 10px 15px;
    width: 140px;
}